<document>
  <menuBarTemplate>
    <menuBar>
      <menuItem
        template="${this.BASEURL}live"
        presentation="menuBarItemPresenter"
      >
        <title>Live</title>
      </menuItem>
      <menuItem
        template="${this.BASEURL}items?baseUrl=${this.BASEURL}"
        presentation="menuBarItemPresenter"
      >
        <title>Items</title>
      </menuItem>
      <menuItem
        template="${this.BASEURL}programs?baseUrl=${this.BASEURL}"
        presentation="menuBarItemPresenter"
      >
        <title>Programma's</title>
      </menuItem>
    </menuBar>
  </menuBarTemplate>
</document>
