<document>
    <productTemplate>
        <background> </background>
        <banner>
            <infoList></infoList>

            <stack autohighlight="true">
                <title>ATV</title>

                <description disabled="true" handlesOverflow ="true">ATV is een Belgische regionale televisiezender voor de regio rond Antwerpen-stad, die in december 1993 werd opgericht. De zender is gevestigd in de stad Antwerpen, op het Eilandje.  </description>
                <row autohighlight="true">
                    <buttonLockup url="{{ url }}" autohighlight="true">
                        <badge src="resource://button-play" />
                        <title>Afspelen</title>
                    </buttonLockup>
                </row>
            </stack>
            <heroImg src="https://upload.wikimedia.org/wikipedia/commons/c/ca/ATV_logo_Belgium.png" />
        </banner>
    </productTemplate>
</document>
